form{
		width: 100%;
		margin-top: 0.64rem;
		border-radius: 0.266667rem;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 1.2rem 1.04rem 1.2rem;
		box-sizing: border-box;
	}
	
	/deep/.mint-popup h3{
		font-size: 0.426667rem;
		color: #515151;
		border-bottom:1px solid #BFBFBF;
		height: 1.413333rem;
		text-align: center;
		line-height: 1.413333rem;
		font-weight: normal;
		
	}
	/deep/ form p,form .roobtip{
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.666667rem;
	}
	/deep/ form p span,form .roobtip span{
		font-size: 14px;
		color: #515151;
	}
	/deep/ form  input{
		width: 4rem;
		height: 32px;
		border: 1px solid #C4C4C4B2;
		border-radius: 0.133333rem;
		text-indent:8px;
	}
	/deep/ form .roobtip{
		height: 0.906667rem;
	}
	/deep/ form .roobtip p{
		display: flex;
		justify-content:center;
		width: 4rem;
		height: 32px;
		border: 1px solid #C4C4C4B2;
		border-radius: 0.133333rem;
	}
	/deep/ form .roobtip input{
		width: 0.853333rem;
		border: none;
		/* background-color: red; */
		text-indent: 0.2rem;
	}
	/deep/ form .roobtip b{
		display: flex;
		font-weight: normal;
		width: 0.5px;
		height: 0.853333rem;
		line-height: 0.853333rem;
	}
	/deep/ .formope{
		display: flex;
		justify-content: space-around;
		margin-top: 1.333333rem;
	}
	/deep/ .formope button{
		width: 2.4rem;
		height: 30px;
		border-radius: 0.133333rem;
		color: #3A3A3A;
		outline: none;
		border: 1px solid #51515180;
		background-color: white;
	}
	/deep/ .formope .sub{
		background-color: #278DE5;
		color: #fff;
		border: none;
	}